@page "/admin"

@model Mission7.Pages.admin.IndexModel
@{
}
<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(Mission7.Pages.admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>
</html>